# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

# go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a
*.app
*.i*86
*.x86_64
*.hex
*.so.*

# Test binary, built with `lang test -c`
*.test

# Output of the lang coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

#my local file
.idea/*
.VSCodeCounter/*
cmd/bin/*
cmd/conf/bfw.yaml
cmd/logs/*
.vscode/*

wheel/cgo/bin/*
wheel/cgo/lib/*


# c
# Prerequisites
*.d

# Object files
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.slo

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf





